
  <ion-tabs tabs-style="tabs-icon-top" tabs-type="tabs-positive">

    <ion-tab title="Home" icon="ion-home" href="#/tab/home">
      <ion-nav-view name="home-tab"></ion-nav-view>
    </ion-tab>

    <ion-tab title="Map" icon="ion-alert-circled" href="#/tab/map">
      <ion-nav-view name="map-tab"></ion-nav-view>
    </ion-tab>

    <ion-tab title="Preferences" icon="ion-settings" href="#/tab/preferences">
      <ion-nav-view name="preferences-tab"></ion-nav-view>
    </ion-tab>

  </ion-tabs>
