<!doctype html>
<html lang="en">
<head>
  <title><%= appName %></title>
  <meta charset="utf-8">
  <meta name="format-detection" content="telephone=no" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="icon" type="image/png" href="img/favicon.png">
  <base href="/"></base>

<% if (env == 'development') {
     css.forEach(function(asset) {
       print('  <link rel="stylesheet" href="' + asset.substring(8) + '"/>\n');
     });
   } else if (env == 'production') {
     print('  <link rel="stylesheet" href="css/app.css" />');
   } %>

  <script src="cordova.js"></script>
<% if (env == 'development') {
  print('  <script src="js/config/development.js"></script>');
     js.forEach(function(asset){
       print('  <script src="' + asset.substring(8) + '"></script>\n');
     });
   } else if (env == 'production') {
     print('  <script src="js/application.js"></script>');
   } %>

</head>
<body>

  <div id="container" class="container">

    <ion-nav-bar 
        animation="nav-title-slide-ios7" 
        type="bar-positive" 
        back-button-type="button-icon" 
        back-button-icon="ion-arrow-left-c">
    </ion-nav-bar>

    <ion-nav-view ui-view animation="slide-left-right"></ion-nav-view>

    <ion-tabs tabs-style="tabs-icon-top" tabs-type="tabs-positive">

      <ion-tab title="Home" icon="ion-home" href="#/home">
        <ion-nav-view name="home-tab"></ion-nav-view>
      </ion-tab>

      <ion-tab title="Map" icon="ion-alert-circled" href="#/map">
        <ion-nav-view name="map-tab"></ion-nav-view>
      </ion-tab>

      <ion-tab title="Preferences" icon="ion-settings" href="/preferences">
        <ion-nav-view name="preferences-tab"></ion-nav-view>
      </ion-tab>
    </ion-tabs>

  </div>
  <script type="text/javascript">
    pg.initialize();
  </script>

</body>
</html>
