
    <ion-view title="'Ranger Danger'">
        <ion-content has-header="true" padding="true">
            <button id="tagMyLocation" class="button button-block button-assertive" ng-click="tagLocation()">Tag This Location</button>
            <br />
            <button id="showModal" class="button button-block button-energized" ng-click="openModal()">Tag Nearby Location</button>
            <div id="alertsDiv">
              <div ng-repeat="alert in alerts"><em>{{ alert.message }} - {{alert.createdAt | date:'medium'}}</em> - Lat: {{alert.lat}}, Lng: {{alert.lng}}</div>
            </div>
        </ion-content>
    </ion-view>
